		html, body {
			background: #1D181F;
			font-family: 'Roboto', sans-serif;
			color: #306E73;
			height: 100%;
			width: 100%;
			margin: 0;

		}
		body {
			z-index: -1;
			min-height: 100%;
		}
		h1 {
			font-size: 7em;
			position: fixed;
			margin: 0 2%;
			font-style: italic;
			height: 20%;
			width: 96%;
			float: left;
			border-bottom-style: solid;
			border-bottom-color: #306E73; 
		}

		#gitlogo {
			padding-top: 3%;
			float: left;
		}

		#block {
			font-size: 80px;
			font-weight: bold;
			color: #962D3E;
    		width: 100%;
			height: 100%;
			float: top;
			text-align: center;
		}
		#circleX, #circleY {
			stroke-dasharray: 50;
			stroke-linecap: round;
			animation: dash 60s linear;
		}
		@keyframes dash {
  			to {
  			  stroke-dashoffset: 2000;
  			}
		}

		#footer {
			position:fixed;
			background: #2D323B;
			width: 100%;
			height: 20px;
    		bottom:0;
    		animation: peek 2s ease-in;
		}

		@keyframes peek {
			from {
    			height: 150px;
  			}
			to {
   				height: 20px;
  			}
		}

		#links {
			color: #DAEDE2;
			font-size: 1em;
			font-style: italic;
			width: 100%;
			height: 100%;
			margin-left: 20px;
			margin-top: 20px;
			
		}
		#githubtext, #githublogo, #linkedintext, #linkedinlogo {
			text-align: center;
			float: left;
			height: 50px;
			margin-right: 20px;
			margin-bottom: 10px;
		}
