		html, body {
			background: #1D181F;
			font-family: 'Roboto', sans-serif;
			color: #306E73;
			height: 100%;
			width: 100%;
			margin: 0;

		}
		body {
			z-index: -1;
		}
		h1 {
			font-size: 7em;
			opacity: 1;
			position: fixed;
			margin: 0 2%;
			font-style: italic;
			height: 20%;
			width: 96%;
			float: top;
			border-bottom-style: solid;
			border-bottom-color: #306E73; 
		}
		#block {
			font-size: 80px;
			font-weight: bold;
			color: #962D3E;
    		width: 100%;
			height: 100%;
			float: top;
			text-align: center;
		}
		#circleX, #circleY {
			stroke-dasharray: 50;
			stroke-linecap: round;
			animation: dash 60s linear;
		}
		@keyframes dash {
  			to {
  			  stroke-dashoffset: 2000;
  			}
		}